<% provide(:title, "Contato") %>
<h1>Contato</h1>
<p>
  <ul>
    <li><strong>Name: </strong>Charles</li>
    <li><strong>Email: </strong>charlesalmeida844@gmail.com</li>
    <li><strong>Telefone: </strong>82999431412</li>
   </ul>
</p>
   